---
menu: 0
---

@import "shared";

html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @extend html;
  font-family: $stdfont;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  @include innershadow;
}

@import "header";
@import "footer";
@import "content";
@import "syntax";

@import "various";
