<script src="http://rene.odyne.net/libs/webcomponentsjs/webcomponents.min.js"></script>

<link rel="import" href="http://rene.odyne.net/libs/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="http://rene.odyne.net/libs/paper-toolbar/paper-toolbar.html">
<link rel="import" href="http://rene.odyne.net/libs/iron-icons/iron-icons.html">
<link rel="import" href="http://rene.odyne.net/libs/paper-icon-button/paper-icon-button.html">

<link rel="import" href="http://rene.odyne.net/libs/app-layout/app-layout.html">

<link rel="import" href="http://rene.odyne.net/libs/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="http://rene.odyne.net/libs/paper-item/paper-icon-item.html">

<link rel="import" href="http://rene.odyne.net/libs/app-layout/app-scroll-effects/effects/waterfall.html">

<link rel="import" href="my-drawer.html">

{% for p in page.imports %}
<link rel="import" href="http://rene.odyne.net/libs/{{p}}/{{p}}.html">
{% endfor %}
