<script src="http://rene.odyne.net/libs/webcomponentsjs/webcomponents.min.js"></script>

<link rel="import" href="http://rene.odyne.net/libs/iron-flex-layout/iron-flex-layout-classes.html">
<style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>


<link rel="import" href="http://rene.odyne.net/libs/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="http://rene.odyne.net/libs/paper-toolbar/paper-toolbar.html">

<link rel="import" href="http://rene.odyne.net/libs/paper-icon-button/paper-icon-button.html">
<link rel="import" href="http://rene.odyne.net/libs/paper-item/paper-icon-item.html">

<link rel="import" href="http://rene.odyne.net/libs/iron-icons/iron-icons.html">
<link rel="import" href="http://rene.odyne.net/libs/iron-icons/social-icons.html">
<link rel="import" href="http://rene.odyne.net/libs/iron-icons/places-icons.html">
<link rel="import" href="http://rene.odyne.net/libs/iron-icons/communication-icons.html">
<link rel="import" href="http://rene.odyne.net/libs/iron-icons/maps-icons.html">

<link rel="import" href="http://rene.odyne.net/libs/app-layout/app-layout.html">

<link rel="import" href="http://rene.odyne.net/libs/paper-drawer-panel/paper-drawer-panel.html">

<link rel="import" href="http://rene.odyne.net/libs/paper-tabs/paper-tabs.html">

<link rel="import" href="http://rene.odyne.net/libs/app-layout/app-scroll-effects/effects/waterfall.html">

{% for p in page.imports %}
<link rel="import" href="http://rene.odyne.net/libs/{{p}}/{{p}}.html">
{% endfor %}
