main {
  width: 100%;
  @include innershadow;
}
main > div {

  @media screen and (min-width: 64em) {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.2rem; 
  }

  @media screen and (min-width: 42em) and (max-width: 64em) {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @media screen and (max-width: 42em) {
    padding: 1rem 1rem;
    font-size: 1rem; 
  }

  :first-child {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    color: $primarylight;

    @media screen and (min-width: 42em) {
      margin: 1rem -0.5rem;
    }
    @media screen and (max-width: 42em) {
      font-size: 1rem;
      margin: 1rem 0rem;
    }
  }
  h1 {
    @include background;
    @include shadow;
    border-radius: 0.25rem;
  }
  h2 {
    border: 1px solid $primary;
    border-radius: 0.25rem;
  }

  p {
    margin-bottom: 1rem;
  }

  code {
    font-family: $monofont;
    color: #348;
    background-color: #cdf;
    border-radius: 0.2rem;
    padding: 2px 4px;
    font-size: 0.9rem;
  }

  pre {
    font: 1rem $monofont;
    color: $primary;
    background-color: $secondarylight;
    border-radius: 0.3rem;
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    word-wrap: normal;
    border: solid 1px $primary;

    > code {
      padding: 0;
      margin: 0;
      color: #567482;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0.5rem;
    border-left: 0.5rem solid $primarylight;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    tbody, tr {
      width: 100%;
    }
    th {
      font-weight: bold;
    }
    th, td {
      padding: 0.25rem 0.75rem;
    }
  }

  dl > dt {
    margin: 1rem 0;
//    font-weight: bold;
  }

  dl > dd {
    margin-bottom: 0.5rem;
//    font-style: italic;
  }

  ul > li {
    margin-bottom: 0.5rem;
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $primarylight;
    border: 0;
  }

  @media print {
    margin: 1.5cm;
    font-size: 0.8rem;
    h1 {
      border-bottom: 1px solid $primary;
      font-size: 1rem; 
    }
  }

}
