@import "responsive";

.content {

  // 4rem for each toolbar
  margin-top: 12rem;

  @include phone { padding: 1rem 1rem; }
  @include tablet { padding: 2rem 4rem; }
  @include desktop {
    max-width: 1120px;
    padding: 2rem 4rem;
    margin-left: auto;
    margin-right: auto;
  }

  > :first-child { margin-top: 0; }

  img { max-width: 100%; }

  h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: $primary;
    border-radius: 0.25rem;
    padding: 0 0.25rem;

    > iron-icon { 
      padding: 0 0.5rem 3px 0.5rem;
      z-index: 0;
    }

    @include phone {
      font-size: 1rem;
      margin: 1rem 0rem;
    }
  }
  h1 { @include background; }
  p { margin: 1rem 0.5rem; }

  div.code {
    font-family: $monofont;
    margin: 0 0.5rem;
    pre {
      font: 1rem $monofont;
      color: $primary;
      border-radius: 0.3rem;
      word-wrap: normal;
      overflow: auto;
      padding: 0.75rem;
      border: solid 1px $primary;
      .line-numbers {
        display: none;
      }
    }
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0.5rem;
    border-left: 0.5rem solid $primarylight;
  }

  table {
    display: block;
    overflow: auto;
    th {
      text-align: left;
    }
    th, td {
      padding: 0.25rem 0.75rem;
    }
  }

  table.responsive {
    @include phone {
      width: 100%;

      thead {
        display: none;
      }
      tbody {
        display: block;
        width: 100%;
      }
      td {
        display: block;
        text-align: right;
      }
      td:before {
        content: attr(label);
        float: left;
        font-weight: bold;
        margin-right: 1rem;
      }
      tr {
        display: block;
        border: 1px solid $primarylight;
        margin-bottom: 1rem;
      }
      tr:last-child {
        margin: 0;
      }
    }
  }

  dl > dt { margin: 1rem 0.5rem; }

  dl > dd { margin-bottom: 0.5rem; }

  ul > li { margin-bottom: 0.5rem; }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $primarylight;
    border: 0;
  }

}
