footer {

  @include background;

  height: 6rem;
  min-height: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  font-size: 1rem;

  .copyright, .powered {
    margin: 0.5rem;
  }

}
