@import "responsive";

app-header {
  @include background;
  flex-shrink: 0;
  background-position: center;
}
.title {
  text-align: center;
  font-size: 1.8rem;
}

.footer {
  @include background;
  flex-shrink: 0;
  min-height: 6rem;
  font-size: 1rem;
  > div { margin: 0.5rem; }
  @include print { display: none; }
}

.menu {
  h1 {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  hr {
    margin-top: 1rem;
    border: 0;
    height: 1px;
    background-color: $primarylight;
  }
  a {
    color: $primary;
    text-decoration: none;
  }
  paper-icon-item:hover {
    background-color: $primarylight;
  }
}