@media screen {
  .onlyprint {
    display: none;
  }
}

@media print {

  @page {
    margin: 2cm;
    orphans: 4;
    widows: 2;
  }

  .onlyscreen {
    display: none;
  }

  .printtitle {
  	text-align: center;
  	font-size: 1.8rem;
  }
  #header, #footer { display: none !important; }
  a {
  	text-decoration: none !important;
  	color: black !important;
  }
  #content{
    margin: 0;
    font-size: 0.8rem;
    table {
      td {
        padding: 0.1rem 0.25rem;
      }
    }
    p, table, figure {
      // only works in opera and a little in IE
      page-break-inside: avoid;
    }
    h1 {
      font-size: 1.3rem; 
      background: none;
      color: $primary;
    }
    .cvtitle {
      color: $primary;
      #name {
        font-size:3rem;
        font-weight:bold;
        margin-bottom:0;
      }
      #profession {
        font-size:1.75rem;
        margin-top:0;
      }
      #portrait {
        width: 10rem;
      }
    }
  }
}
/*    h1::after {
        content: "";
        display: block;
        border-bottom: 1px solid $primary;
        height: 1px;
        transform: scaleY(0.5);
      }*/
