@media screen {
  .onlyprint {
    display: none;
  }
}

@include print {

  @page {
    margin: 2cm;
    orphans: 4;
    widows: 2;
  }

  .onlyscreen {
    display: none;
  }

  .printtitle {
  	text-align: center;
  	font-size: 1.8rem;
  }
  .header, .footer { display: none !important; }
  a {
  	text-decoration: none !important;
  	color: black !important;
  }
  .content{
    margin: 0;
    font-size: 0.5rem;
    table {
      td {
        padding: 0.1rem 0.25rem;
      }
    }
    p, table, figure {
      // only works in opera and a little in IE
      page-break-inside: avoid;
    }
    h1 {
      font-size: 0.8rem; 
      background: none;
      color: $primary;
    }
    h1::after {
        content: "";
        display: block;
        border-bottom: 1px solid $primary;
        height: 1px;
        transform: scaleY(0.5);
      }
  }
  #portrait {
    width: 6rem;
  }

}
