$primary: #103;
$primaryalpha: #ddf;
$secondary: #301;
$secondaryalpha: #fdd;
$primarylight: #def;
$secondarylight: #fed;

$stdfont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monofont: Consolas, "Liberation Mono", Menlo, Courier, monospace;

@mixin background {
  background-image: url(../img/earth_small.jpg);
  background-size: cover;
  color: $primarylight;
}

@mixin shadow {
  @media screen {
    -webkit-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.35);
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.35);
  }
}

@mixin innershadow {
  @media screen {
    -webkit-box-shadow: inset 2px 2px 8px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 2px 2px 8px 2px rgba(0,0,0,0.35);
    box-shadow: inset 2px 2px 8px 2px rgba(0,0,0,0.35);
  }
}
