#portrait {

  @include shadow;
  float: right;
  width: 10rem;
  margin: 0 1rem 1rem 1rem;

  @include phone {
    float: initial;
    width: 10rem;
    margin: 0 auto;
    display: block;
  }
}

.vitatable {
  tr > * {
    vertical-align: top;
  }
  tr > :first-child {
    width: 8rem;
    text-align: right;
    @include phone {
      width: 6rem;
    }
  }
}