@media screen {
  .cvtitle {
    position: relative;
    color: $primary;
    #name {
  	  font-size:2.75rem;
      font-weight:bold;
      margin-bottom:0;
    }
    #profession {
      font-size:1.8rem;
      margin-top:0;
    }
    #portrait {
      width: 12rem;
      margin: 1rem;
      img { @include shadow; }
    }
  }
  .desktop .cvtitle {
    #portrait {
      float: right;
    }
  }
  .tablet .cvtitle {
    text-align: center;
    p, img { margin: 0.5rem auto !important;}
    #name { font-size: 1.25rem; }
    #profession { font-size: 1.2rem; }
  }
  .phone .cvtitle {
    text-align: center;
    p, img { margin: 0.5rem auto !important;}
    #name { font-size: 1.25rem; }
    #profession { font-size: 1.2rem; }
  }
}

.print .cvtitle {
  #name { font-size: 1rem; }
  #profession { font-size: 0.75rem; }
  #portrait {
    float: right;
    margin: 0;
    width: 6rem;
  }
}

.vitatable {
  td {
    vertical-align: top;
  }
  tr > td:first-child {
    white-space: nowrap;
    text-align: center;
    min-width: 8rem;
  }
}

/*  #portrait {
      width: 9rem;
      margin: 1rem auto 1rem auto;
      img {
        @include shadow;
      }
  }
  @include nonphone {
    &:before {
      content: '';
      float: right;
      display: block;
      width: 9rem;
      height: 20rem;
      margin: 1rem;
    }
    #portrait {
      position: absolute;
      top: 0;
      right: 0;
/*      @include phone {
        float: initial;
        margin: 0 auto;
        display: block;
      }*/
/*    }
  }*/


.academia {
  margin: 2em 1rem;
  padding: 0rem;
  display: flex;
  .thumb {
  	margin: 1rem 2rem;
    min-width: 10rem;
  	img {
      @include shadow;
  	  width: 10rem;
  	}
  }
  .abstract::before {
    content: "Abstract: ";
    font-weight: bold;
  }
}
.phone .academia {
  flex-direction: column;
  align-items: center;
}
