#portrait {

  @include shadow;
  float: right;
  width: 9rem;
  margin: 0 1rem 1rem 1rem;

  @include phone {
    float: initial;
    margin: 0 auto;
    display: block;
  }
}

.academia {
  margin: 2em 1rem;
  padding: 0rem;
  display: flex;
  @include phone {
    flex-direction: column;
    align-items: center;
  }
  .thumb {
  	margin: 1rem 2rem;
    min-width: 10rem;
  	img {
      @include shadow;
  	  width: 10rem;
  	}
  }
  .abstract::before {
    content: "Abstract: ";
    font-weight: bold;
  }
}
