<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
<script>
function request(url, name) {
  $("#drawer")[0].close();
  $("#loader")[0].request(url, name);
  $(document).scrollTop(0);
}
</script>
</head>
<body class="fullbleed vertical layout">
  <template is="dom-bind" id="app">
    {% raw %}
    <responsive-polymer value="{{value}}"></responsive-polymer>
    {% endraw %}
    {% include header.html %}
    {% include menu.html %}
    <div id="content" class$="[[value]]" style="flex: 1 0 auto;">
      {% raw %}
      <component-loader title="{{title}}" id="loader">
      {% endraw %}
        {{ content }}
      </component-loader>
    </div>
    {% include footer.html %}
  </template>
</body>
</html>
