<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>René Schönfelder - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/polymer.css" >
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

  {% include polymerimports.html %}

  <style is="custom-style">
    html, body {
      height: 100%;
    }
    body {
      display: flex;
      flex-flow: column nowrap;
    }
    .content {
      flex: 1;
    }
    app-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  </style>

</head>
<body>
  <template is="dom-bind" id="app">
    <app-header condenses reveals effects="waterfall">
      <app-toolbar>
        <paper-icon-button icon="menu" on-tap="toggle"></paper-icon-button>
      </app-toolbar>
      <app-toolbar></app-toolbar>
      <app-toolbar><div title class="title">René Schönfelder</div></app-toolbar>
    </app-header>

    <app-drawer id="drawer">
      {% include menu.html %}
    </app-drawer>
    <div class="content">
      {{ content }}
    </div>
  </template>
    {% include footer.html %}
<script>

 (function(scope) {
  scope.toggle = function() {
    this.$.drawer.toggle();
  };
})(document.querySelector('#app'));

//  var drawer = document.getElementById('drawer');
//  document.getElementById('toggle').addEventListener('tap', function() {
//      drawer.toggle();
//  });

</script>

</body>
</html>
