<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>René Schönfelder - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" >
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

  {% include polymerimports.html %}

</head>
<body>
  <header>
    <div id="title">René Schönfelder</div>
    <div id="email"><a href="mailto:schoenfelder2211@gmail.com">schoenfelder2211@gmail.com</a></div>
    {% include menu.html %}
  </header>
  <main>
    <div class="content">

    {{ content }}

    </div>
  </main>

{% include footer.html %}

</body>
</html>
